*~
*.o
*.lo
*.a
*.la
*.su
*.log
*.trs
*.tar.xz
*.html
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libpcsc_cr.la
libtool
ltmain.sh
m4/
missing
stamp-h1
test-driver
test_chalresp
test_crypto
test_serial
test_auth
test_base64
test_ntag424_verifier
test_ntag424_reader
test_ntag424_policy
test_ntag424_replay
test_ntag424_pam_glue
pam_cr_setup
ntag424_setup
ntag424_testread
ntag424_authcheck
